$white:#ffffff;
$black:#000000;
$primary:#0d6efd;
$secodary:#6c757d;
$danger:#dc3545;
body {  
    .light {
      color: $black; // Change color when .dark class is applied
      background-color: $white;
    }
    .dark{
        color: $white;
        background-color: $black;
        min-height: 100vh;
    }
  }
  .toggle {
    margin-top: 24px;
    cursor: pointer;
    text-decoration: none;
    color: $white;
  }
// .dark{
//     color: $secodary;
//     background-color: $black;
// }
// .light{
//     color: $black;
//     background-color: $white;
// }
span.cartNo {
    font-size: 10px;
    background-color: $secodary;
    color: $black;
    padding: 2px 6px;
    border-radius: 10px;
    position: absolute;
    margin-left: -6px;
    margin-top: -11px;
}
img.card-img-top1 {
    height: 100px;
    margin: 15px auto;
}